a {
  color: white;
  text-decoration: underline;
  text-underline-position: under;
  cursor: help;
}
a:visited {
  color: pink;
  text-decoration: underline;
  text-underline-position: under;
  cursor: help;
}
