ul {
  list-style-type: none;
  margin: 0px 290px;
  padding: 0;
  overflow: hidden;
}



li {
  float: left;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
li a:visited {
  color: white;
}


.active {
  color: red;
}
