@import url("https://fonts.googleapis.com/css2?family=Product+Sans");
/* FILEPATH: /workspaces/SillyLittleFiles/docs/style.css */
/* BEGIN: be15d9bcejpp */
body,
h1,
p,
.glow-point,
.star {
  animation: fade-in 1s ease-in forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* END: be15d9bcejpp */

body {
  font-family: "Product Sans", sans-serif;
  animation: fade-in 1s ease-in forwards; /* Apply fade-in animation */
}

h1 {
  font-family: "Product Sans", sans-serif;
  font-size: 2em;
  color: #333;
  animation: fade-in 1s ease-in forwards; /* Apply fade-in animation */
}

p {
  font-family: "Product Sans", sans-serif;
  font-size: 1em;
  color: #666;
  animation: fade-in 1s ease-in forwards; /* Apply fade-in animation */
}
:root {
  --glow-rgb: 239 42 201;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.glow-point {
  position: absolute;
  box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb));
  pointer-events: none;
  animation: fade-in 1s ease-in forwards; /* Apply fade-in animation */
}

.star {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 1rem;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes fall-1 {
  0% {
    transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg)
      scale(0.25);
    opacity: 0;
  }

  5% {
    transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg)
      rotateZ(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg)
      rotateZ(90deg) scale(1);
    opacity: 0;
  }
}

@keyframes fall-2 {
  0% {
    transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
    opacity: 0;
  }

  10% {
    transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg)
      scale(0.25);
    opacity: 0;
  }
}

@keyframes fall-3 {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
    opacity: 0;
  }

  15% {
    transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg)
      scale(0.5);
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}
a:hover {
  color: green; /* Change the color to your desired color */
  transition: color 0.5s; /* Add a transition to make it fade into the color */
  transform: scale(1.1); /* Increase the size by 10% */
}
